:root{
--main-color: #2196F3;
--main-color-alt: #1787e0;
--main-transition: 0.3s;
--background-color: #ececec;
--main-padding-top: 100px;
--main-padding-bottom: 100px;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
     padding: 0;
     margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Cairo', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media(min-width: 768px){
   .container{
    width: 750px;
   }
}
@media(min-width: 992px){
    .container{
     width: 970px;
    }
 }
 @media(min-width: 1200px){
    .container{
     width: 1170px;
    }
 }
.main-heading{
  margin: 100px auto;
  position: relative;
  border: 2px solid black;
  width: fit-content;
  padding: 10px 20px;
  transition: var(--main-transition);
  z-index: 1;
}
.main-heading:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
}
.main-heading::before{
content: "";
position: absolute;
width: 12px;
height: 12px;
left: -30px;
top: 50%;
transform: translateY(-50%);
border-radius: 50%;
background-color: var(--main-color);
}
.main-heading:hover::before{
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
@keyframes left-move{
  50%{
    left: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    border-radius: 0;
    left: 0;
    width: 51%;
    height: 100%;
  }
}
.main-heading::after{
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--main-color);
}
.main-heading:hover::after{
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
@keyframes right-move{
  50%{
    right: 0;
    width: 12px;
    height: 12px;
  }
  100%{
    border-radius: 0;
    right: 0;
    width: 51%;
    height: 100%;
  }
}
.spikes {
  position: relative;
 height: 20px;
 background-color: #ececec;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, #ececec 25%, transparent 25%), linear-gradient(225deg, #ececec 25%, transparent 25%);
  background-position: 0 0;
}
header{
    background-color: white;
    position: relative;
    box-shadow: 0 0 10px #ddd;
}
header .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
.logo{
color: var(--main-color);
font-weight: bold;
font-size: 30px;
height: 70px;
display: flex;
align-items: center;
}
@media (max-width: 767px) {
    header .logo {
      width: 100%;
      height: 50px;
      justify-content: center;
  }
    }
  header .main-nav {
    display: flex;
  }
  @media (max-width: 767px) {
    header .main-nav {
      margin: auto;
    }
  }
  header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
  }
  header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
  }
  @media (max-width: 767px) {
    header .main-nav > li > a {
      padding: 10px;
      font-size: 14px;
      height: 40px;
    }
  }
  header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
  }
  header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #fafafa;
  }
  header .main-nav > li > a:hover::before {
    left: 0;
  }
  header .mega-menu {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
  }
  @media (max-width: 767px) {
    header .mega-menu {
      flex-direction: column;
      gap: 0;
      padding: 5px;
    }
  }
  header .mega-menu .image img {
    max-width: 100%;
  }
  @media (max-width: 991px) {
    header .mega-menu .image {
      display: none;
    }
  }
  header .mega-menu .links {
    min-width: 250px;
    flex: 1;
  }
  header .mega-menu .links li {
    position: relative;
  }
  header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
  }
  @media (max-width: 767px) {
    header .mega-menu .links:first-of-type li:last-child {
      border-bottom: 1px solid #e9e6e6;
    }
  }
  header .mega-menu .links li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
  }
  header .mega-menu .links li:hover::before {
    width: 100%;
  }
  header .mega-menu .links li a {
    color: var(--main-color);
    padding: 15px;
    display: block;
    font-size: 18px;
    font-weight: bold;
  }
  header .mega-menu .links li a i {
    margin-right: 10px;
  }
  .landing{
position: relative;
  }
  .landing::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #ececec;
    z-index: -1;
    left: 0;
    top: 0;
    transform: skewY(-6deg);
    transform-origin: top left;
  }
  .landing .container{
    display: flex;
    align-items: center;
    min-height: calc(100vh - 72px);
    padding-bottom: 120px;
  }
  .landing .container .image{
    display: flex;
    justify-content: end;
  }
  .landing .container .image img{
    position: relative;
    width: 80%;
    animation: up-and-down 5s linear infinite;
    
  }
  @media(max-width: 768px){
    .landing .container .image{
      display: none;
    }
  }
  @keyframes up-and-down{
   0%, 100%{
    top: 0;
   }
   50%{
    top: -50px;
   }
  }
    @media(max-width: 768px){
    .landing .container .text{
      text-align: center;
    }
  }
  .landing .container .text h2{
    font-size: 50px;
  }
  .landing .container .text p{
    font-size: 20px;
    line-height: 1.8;
    margin: 10px 0 0;
    color: #666;
}
@media(max-width: 768px){
  .landing .container .text h2{
    font-size: 30px;
  }
  .landing .container .text p{
    font-size: 15px;
  }
}
.landing .down{
color: var(--main-color);
font-size: 30px;
transition: var(--main-transition);
position: absolute;
 bottom: 30px;
 left: 50%;
 transform: translateX(-50%);
}
.landing .down:hover{
  color: #1d81d3
}
.landing .down i{
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}  
@keyframes bounce {
  from {
      transform: translate3d(0, 0, 0);
  }
  to {
      transform: translate3d(0, 30px, 0);
  }
}
.articles{
  position: relative;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.articles .container .articles-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .articles-content .box{
background-color: white;
border-radius: 8px;
box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
overflow: hidden;
transition: transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .container .articles-content .box img{
  width: 100%;
}
.articles .container .articles-content .box .text{
  margin: 30px 10px;
  padding: 10px;
}
.articles .container .articles-content .box .text h3{
  padding-bottom: 10px;
}
.articles .container .articles-content .box .text p{
  line-height: 1.5;
}
.articles .container .articles-content .info{
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #e6e6e7;
}
.articles .container .articles-content .info a{
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .articles-content .info i{
  color: var(--main-color);
}
.articles .container .articles-content .box .info:hover i{
  animation: moving-arrow 0.6s linear infinite;
}
@keyframes moving-arrow {
  100% {
    transform: translateX(10px);
  }
}
.style{
  position: relative;
}
.style::before{
  content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}
.gallery{
  background-color: var(--background-color);
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.gallery .container .gallery-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-items: center;
}
.gallery .container .gallery-content .box{
padding: 15px;
background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    width: fit-content;
}

.gallery .container .gallery-content .box .image{
  width: 300px;
  position: relative;
  overflow: hidden;
}
.gallery .container .gallery-content .box .image::before{
  content:"";
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50% );
  background-color: rgb(255 255 255 / 20%);
  width: 0;
  height: 0;
  opacity: 0;
  z-index: 2;
}
.gallery .container .gallery-content .box .image img{
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .gallery-content .box .image:hover::before{
  animation: flashing 0.7s;
}
.gallery .box .image:hover img {
  transform: rotate(5deg) scale(1.1);
}
@keyframes flashing{
  0%, 40%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
.features{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
}
.features .container .features-content{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  justify-content: center;
  text-align: center;
}
.features .container .features-content .box{
  border: 1px solid #ccc;
  overflow: hidden;
  }
  .features .container .features-content .box .image{
  position: relative; 
  }
  .features .container .features-content .box .image::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .features .container .features-content .f1 .image::before{
    background-color: rgba(255, 0, 0, 0.432);
  }
  .features .container .features-content .f2 .image::before{
    background-color: #03ac666b;
  }
  .features .container .features-content .f3 .image::before{
    background-color: hsla(192, 80%, 53%, 0.432);
  }
  .features .container .features-content .box .image::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent transparent white transparent;
    border-width: 0px 0px 175px 450px;
    bottom: 0;
    right: 0;
    transition: var(--main-transition);
  }
  .features .container .features-content .box:hover .image::after{
    border-width: 0px 400px 175px 450px;
  }
  .features .container .features-content .box .image img{
    width: 100%;
  }
  .features .container .features-content .box .text{
    margin-bottom: 60px;
  }
  .features .container .features-content .box .text h1{
   position: relative;
  }
  .features .container .features-content .box .text h1::after{
   content: "";
   position: absolute;
   top: 110%;
   right: 50%;
   transform: translateX(50%);
   width: 90px;
   height: 5px;
  }
  .features .container .features-content .f1 .text h1::after{
    background-color: red;
  }
  .features .container .features-content .f2 .text h1::after{
    background-color: #03ac66;
  }
  .features .container .features-content .f3 .text h1::after{
    background-color: #25c1e7;
  }
  .features .container .features-content .box .text p{
   font-size: 20px;
   line-height: 1.8;
   padding: 0 30px;
   color: #777;
  }
  .features .container .features-content .box a{
    display: block;
    width: fit-content;
    margin: 0px auto 40px;
    padding: 10px 40px;
    border-radius: 8px;
    border: solid 3px black;
    font-weight: bold;
    transition: var(--main-transition);
  }
  .features .container .features-content .box a:hover{
    background-position: left bottom;
    color: white;
  }
  .features .container .features-content .f1 a{
    color: red;
    border: solid 3px red;
    background: linear-gradient(to right, red 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .container .features-content .f2 a{
    color: #03ac66;
    border: solid 3px #03ac66;
    background: linear-gradient(to right, #03ac66 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .container .features-content .f3 a{
    color: #25c1e7;
    border: solid 3px #25c1e7;
    background: linear-gradient(to right, #25c1e7 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
  }
  .features .container .features-content .box:hover a{
     background-position: left bottom;
     color: white;
  }
  .testimonails{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--background-color);
  }
  .testimonails .container .testimonails-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .testimonails .container .testimonails-content .box{
    position: relative;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    border-radius: 6px;
    transition: var(--main-transition);
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  }
  .testimonails .container .testimonails-content .box:hover{
    transform: translateY(-10px);
  }
  .testimonails .container .testimonails-content .box img{
    position: absolute;
    border-radius: 50%;
    border: solid 10px var(--background-color);
    width: 90px;
    right: -25px;
    top: -40px;
  }
  .testimonails .container .testimonails-content .box .text{
    margin-bottom: 0px;
  }
  .testimonails .container .testimonails-content .box .text h3{
    margin-bottom: 10px;
  }
  .testimonails .container .testimonails-content .box .text h5{
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    color: #777;
  }
  .testimonails .container .testimonails-content .box .rate{
    margin-bottom: 10px;
  }
  .testimonails .container .testimonails-content .box .rate i{
    color: #FFC107;
  }
  .testimonails .container .testimonails-content .box p{
    line-height: 1.6;
    color: #777;
  }
  .team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
  }
  .team .box {
    position: relative;
  }
  .team .box::before,
  .team .box::after {
    content: "";
    background-color: #f3f3f3;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 10px;
    transition: var(--main-transition);
  }
  .team .box::before {
    width: calc(100% - 60px);
    z-index: -2;
  }
  .team .box::after {
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
  }
  .team .box:hover::after {
    width: calc(100% - 60px);
  }
  .team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
  }
  .team .box .data img {
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
  }
  .team .box:hover img {
    filter: grayscale(100%);
  }
  .team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .team .box .data .social a:hover i {
    color: var(--main-color);
  }
  .team .box .data .social i {
    color: #777;
    transition: var(--main-transition);
  }
  .team .box .info {
    padding-left: 80px;
  }
  .team .box .info h3 {
    margin-bottom: 0;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
  }
  .team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .team .box:hover .info h3 {
    color: #777;
  }
  .services{
    background-color: var(--background-color);
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
  }
  .services .container .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
  }
  .services .container .services-content .box{
    height: 230px;
    width: 100%;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    position: relative;
    counter-increment: services;
    transition: var(--main-transition);
  }
  .services .container .services-content .box::before{
    content: "";
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    position: absolute;
    width: 0;
    transition: var(--main-transition);
  }
  .services .container .services-content .box:hover{
    transform: translateY(-10px);
  }
  .services .container .services-content .box:hover::before{
   width: 100%;
  }
  .services .container .services-content .box i{
    color: #d5d5d5;
    display: block;
    text-align: center;
    margin: 40px auto;

  }
  .services .container .services-content .box h3{
   text-align: center;
   margin: -20px 0 40px;
   font-size: 25px;
   color: var(--main-color);
  }
  .services .container .services-content .box .info{
    padding: 15px;
    position: relative;
    background-color: #f9f9f9;
    text-align: right;
    transition: var(--main-transition);
  }
  .services .container .services-content .box .info::before{
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 80px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  .services .container .services-content .box .info::after{
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: calc(100% + 0.4px);
    transform: skewX(-30deg);
  }
  .services .container .services-content .box .info a{
    color: black;
    transition: var(--main-transition);
  }
  .services .container .services-content .box .info:hover a{
   color: var(--main-color);
    font-weight: bold;
  }
  .skils{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .skills .container{
    display: flex;
    align-items: center;
  }
  @media(max-width: 991px){
    .skills .container img{
      display: none;
    }
  }
  .skills .container .skill-content{
    flex: 1;
  }
  .skills .container .skill-content .skill-info{
    margin: 0 0 50px;
    
  }
  .skills .container .skill-content .skill-info h4{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  .skills .container .skill-content .skill-info h4 span{
    border: 2px solid #eee;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: 13px;
    color: var(--main-color);
    text-align: center;
  }
  .skills .container .skill-content .skill-info .skill-prog{
    height: 30px;
    background-color: #eee;
    position: relative;
  }
  .skills .container .skill-content .skill-info .skill-prog span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
  }
  .how-it-work{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--background-color);
  }
  .how-it-work .container{
    display: flex;
    align-items: center;
  }
    @media(max-width: 991px){
    .how-it-work .container{
      flex-direction: column;
    }
  }
  
  .how-it-work .container .bt{
    width: 400px;
    margin-right: 100px;
  }
  @media(max-width: 767px){
    .how-it-work .container .bt{
      width: 300px;
    }
  }
  @media(max-width: 991px){
    .how-it-work .container .bt{
      margin: 0 0 50px;
    }
  }
  .how-it-work .container .work-content .box{
    display: flex;
    background-color: #f6f5f5;
    padding: 30px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    border: solid white 3px;
    z-index: 1;
  }
  @media (max-width: 767px) {
    .how-it-work .container .work-content .box{
      flex-direction: column;
      text-align: center;
    }
  }
  .how-it-work .container .work-content .box::before{
    content: "";
    left: 50%;
    top: 50%;
    position: absolute;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: var(--main-transition);
  }
  .how-it-work .container .work-content .box:hover::before{
      width: 100%;
      height: 100%;
  }
  .how-it-work .container .work-content .box img{
    width: 65px;
  }
  .how-it-work .container .work-content .box .text{
    margin-left: 30px;
  }
  .how-it-work .container .work-content .box .text h1{
    margin-bottom: 12px;
  }
  .how-it-work .container .work-content .box .text p{
    line-height: 1.8;
    color: #777;
    font-size: 17px;
  }
  .latest-events{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
  }
  .latest-events .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  @media(max-width: 991px){
    .latest-events .container img{
display: none;
    }
  }
  
  .latest-events .container img{
    width: 400px;
  }
  .latest-events .container .event-content{
    flex: 1;
  }
  .latest-events .container .event-content .timer{
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
  }
  .latest-events .container .event-content .timer .box{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
}
.latest-events .container .event-content .timer .box span{
  display: block;
  transition: var(--main-transition);
}
  .latest-events .container .event-content .timer .box .first{
    font-size: 35px;
    padding: 15px;
    color: var(--main-color);
    font-weight: bold;
}
  
  .latest-events .container .event-content .timer .box .secend{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
  }
  .latest-events .container .event-content .timer .box:hover,
  .latest-events .container .event-content .timer .box:hover .secend{
    border-color: var(--main-color);
  }
  .latest-events .container .event-content h2{
    margin: 30px ;
    text-align: center;
    font-size: 30px;
  }
  .latest-events .container .event-content p{
    text-align: center;
    font-size: 20px;
    color: #777;
  }
  .latest-events .container .sub{
    width: 100%;
    margin-top: 50px;
  }
  .latest-events .container .sub form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}
@media (max-width: 767px) {
  .sub form {
    max-width: 100%;
    padding: 20px;
    flex-direction: column;
    border-radius: 0;
  }
}
.latest-events .container .sub  form input[type="email"]{
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
}
@media (max-width: 767px) {
  .sub form input[type="email"] {
    border-radius: 0;
  }
}
.sub form input[type="email"]:focus {
  outline: none;
}
.sub form input[type="email"]::placeholder {
  transition: opacity var(--main-transition);
}
.sub form input[type="email"]:focus::placeholder {
  opacity: 0;
}
.sub form input[type="submit"] {
  border-radius: 50px;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .events .sub form input[type="submit"] {
    border-radius: 0;
  }
}
.events .sub form input[type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.dots{
  background-image: url(../image/dots.png);
  width: 205px;
  height: 187px;
  position: absolute;
  background-repeat: no-repeat;
}
.dots-up{
  right: 0;
  top: 200px;
}
.dots-down{
  left: 0;
  bottom: 100px;
}
@media(max-width: 991px){
  .dots{
    display: none;
  }
}
.pricing-plans{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  position: relative;
  background-color: var(--background-color);
}
.pricing-plans .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.pricing-plans .container .box{
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  text-align: center;
  z-index: 1;
  transition: var(--main-transition);
}
.pricing-plans .container .box::before{
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  left: 0;
  top: 0;
  z-index: -1;
}
.pricing-plans .container .box::after{
  content: "";
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  right: 0;
  bottom: 0;
  z-index: -1;
}
.pricing-plans .container .box:hover::before,
.pricing-plans .container .box:hover::after{
  width: 100%;
}
.pricing-plans .container .b-s2{
  position: relative;
  bottom: 25px;
}
@media(max-width:767px){
  .pricing-plans .container .b-s2{
    bottom: 0;
  }
}
@media(max-width:992px){
  .pricing-plans .container .b-s2{
    bottom: 0;
  }
}
@media(max-width:1200px){
  .pricing-plans .container .b-s2{
    bottom: 0;
  }
}
.pricing-plans .container .b-s2 .price{
  position: relative;
}
.pricing-plans .container .box .price .most-p{
  position: absolute;
  writing-mode: vertical-rl;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  padding: 10px 10px 35px 10px;
  font-size: 18px;
  right: 20px;
  width: 40px;
  top: -30px;
}

.pricing-plans .container .box .price .most-p::before{
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 20px;
}

.pricing-plans .container .box .price .most-p .imp{
  color: white;
  font-weight: bold;
  margin-top: 6px;
}
.pricing-plans .container .box .price{
margin-bottom: 30px;
}
.pricing-plans .container .box .price h2{
  margin: 30px 0;
}
.pricing-plans .container .box .price img{
  width: 100px;
}
.pricing-plans .container .box .price h1{
  color: var(--main-color);
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 0;
} 
.pricing-plans .container .box .price p{
  color: #777;
}
.pricing-plans .container .box ul{
  margin-bottom: 40px;
}
.pricing-plans .container .box ul li{
  padding: 20px;
  text-align: start;
  border-bottom: solid 1px #eee;
}
.pricing-plans .container .box ul li:first-child{
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
.pricing-plans .container .box ul li:last-child{
  border-bottom: none;
}
.pricing-plans .container .box a{
  display: block;
  padding: 15px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: fit-content;
  margin: 0 auto 40px;
  border-radius: 8px;
  font-weight: bold;
}
.videos {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.videos .holder {
  display: flex;
  justify-content: center;
  background-color: var(--section-background);
  border: 1px solid #ddd;
}
@media (max-width: 991px) {
  .videos .holder {
    flex-direction: column;
  }
}
.videos .holder .list {
  min-width: 300px;
  background-color: white;
}
.videos .holder .list .name {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  font-weight: bold;
  /* color: var(--main-color);*/
}
.videos .holder .list ul li {
  padding: 20px;
  border-top: 1px solid var(--section-background);
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .holder .list ul li:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.videos .holder .list ul li span {
  display: block;
  margin-top: 10px;
  color: #777;
}
.videos .holder .preview {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.videos .holder .preview img {
  max-width: 100%;
}
.videos .holder .preview .info {
  padding: 20px;
  background-color: white;
  margin-top: 10px;
}
.stats{
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
  background-image: url(../image/stats.jpg);
  position: relative;
}
.stats::before{
  content: "";
  position: absolute;
  background-color: rgb(255 255 255 / 95%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

}
.stats h2{
  z-index: 1;
}
.stats .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}
.stats .container .box{
  width: 250px;
  height: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  transition: var(--main-transition);
}
.stats .container .box::before{
content: "";
width: 2px;
height: 0;
background-color: var(--main-color);
position: absolute;
right: 0;
top: 0;
transition: 0.7s;
}
.stats .container .box::after{
  content: "";
  width: 2px;
  height: 0;
  background-color: var(--main-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.7s;
}
.stats .container .box:hover::before,
.stats .container .box:hover::after{
  height: 100%;
}
.stats .container .box i{
margin-bottom: 20px;
}
.stats .container .box .number{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.stats .container .box .text{
  color: var(--main-color);
  font-weight: bold;
  font-size: 20px;
}
.discount {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}
.discount .image {
  background-image: url(../image/discount-background1.jpg);
  background-size: cover;
  color: white;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.discount .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(23 135 224 / 97%);
  z-index: -1;
}
@media (max-width: 991px) {
  .discount .image {
    flex-basis: 100%;
  }
}
.discount .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50%;
}
@media (max-width: 991px) {
  .discount .form {
    flex-basis: 100%;
  }
}
.discount .form .input {
  display: block;
  width: 100%;
  margin-bottom: 25px;
  padding: 15px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount .form textarea.input {
  resize: none;
  height: 200px;
}
.discount .form .input:focus {
  outline: none;
}
.discount .form [type="submit"] {
  display: block;
  width: 100%;
  padding: 15px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
  transition: var(--main-transition);
}
.discount .form [type="submit"]:hover {
  background-color: var(--main-color-alt);
}
.discount .content {
  text-align: center;
  padding: 0 20px;
}
.discount .content h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-bottom: 50px;
}
@media(max-width: 992px){
  .discount .content h2 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}
.discount .content p {
  line-height: 1.6;
  font-size: 18px;
  max-width: 500px;
}
.discount .content img {
  width: 300px;
  max-width: 100%;
}
footer {
  background-color: #191919;
  padding: 70px 0 0;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .box h3 {
  color: white;
  font-size: 50px;
  margin: 0 0 20px;
}
footer .box .social {
  display: flex;
}
@media (max-width: 767px) {
  footer .box .social {
    justify-content: center;
  }
}
footer .box .social li {
  margin-right: 10px;
}
footer .box .social li a {
  background-color: #313131;
  color: #b9b9b9;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 20px;
  transition: var(--main-transition);
}
footer .box .social .facebook:hover {
  background-color: #1877f2;
}
footer .box .social .twitter:hover {
  background-color: #1da1f2;
}
footer .box .social .youtube:hover {
  background-color: #ff0000;
}
footer .box .text {
  line-height: 2;
  color: #b9b9b9;
}
footer .box .links li {
  padding: 15px 0;
  transition: var(--main-transition);
}
footer .box .links li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .box .links li:hover {
  padding-left: 10px;
}
footer .box .links li:hover a {
  color: white;
}
footer .box .links li a {
  color: #b9b9b9;
  transition: var(--main-transition);
}
footer .box .links li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .box .line {
  display: flex;
  align-items: center;
  color: #b9b9b9;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  footer .box .line {
    flex-direction: column;
  }
}
footer .box .line i {
  font-size: 25px;
  color: var(--main-color);
  margin-right: 10px;
}
@media (max-width: 767px) {
  footer .box .line i {
    margin-right: 0;
    margin-bottom: 15px;
  }
}
footer .box .line .info {
  line-height: 1.7;
  flex: 1;
}
footer .box .line .info span {
  display: block;
}
footer .footer-gallery img {
  width: 78px;
  border: 3px solid white;
  margin: 2px;
}
footer .copyright {
  padding: 25px 0;
  text-align: center;
  color: white;
  margin: 50px 0 0;
  border-top: 1px solid #444;
}